<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- External -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <title>Flack | Error</title>
  </head>
  <body>
    <div id="container">
      <div id="content">
        <div class="form-group header">
          <h1>
            Error
          </h1>
          <p>{{ errorMsg }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
